body {
  padding-bottom: 4rem;
}

header {
  margin: 2rem 0 4rem 0;
  border-bottom: 1px solid #ddd;
}

header h1 img {
  height: 5rem;
  width: auto;
}

header aside {
  float: right;
}

header aside img {
  margin-top: 0.633rem;
  height: 4.367rem;
  width: auto;
}

nav ul {
  padding-left: 2rem;
  list-style: none;
}

nav li {
  display: block;
  font-size: 1.8rem;
}

@media (min-width: 40rem) {
  .row .column.column-25-sm {
    flex: 0 0 25%;
    max-width: 25%;
  }
  header h1 img {
    height: 7rem;
  }
  header aside img {
    margin-top: 3rem;
    height: 3.5rem;
  }
  article {
    padding-right: 2rem;
  }
}
