header {
  margin: 2rem 0 3rem 0;
  border-bottom: 1px solid #ddd;
  h1 {
    img {
      height: 7rem;
      width: auto;
    }
  }
  aside {
    text-align: right;
    img {
      margin-top: 3.5rem;
      height: 3.5rem;
      width: auto;
    }
  }
}

nav {
  ul {
    list-style: none;
  }
  li {
    display: block;
  }
}

@media (min-width: 40rem) {
  .row .column.column-25-sm {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
