<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Roslagskraft</title>
  <link rel="stylesheet" href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css" />
  <link rel="stylesheet" href="https://cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css" />
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>

  <header>
    <div class="container">
      <h1><img src="/img/roslagskraft-logo.png" alt="Roslagskraft" /></h1>
      <aside><img src="/img/leader.jpg" alt="LEADER Lokalt ledd utveckling" /></aside>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <nav class="column column-25">
        <ul>
          <li><a href="/">Start</a></li>
          <li><a href="/nyheter">Nyheter</a></li>
          <li><a href="/bli-medlem">Bli medlem</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
          <li><a href="/stadgar">Stadgar</a></li>
          <li><a href="/lankar">Länkar</a></li>
          <li><a href="/seminarium">Seminarium</a></li>
        </ul>
      </nav>
      <article class="column">
        {{ content }}
      </article>
    </div>
  </div>

</body>

</html>